@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.07);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes text-pulsate {
  0% {
    transform: scale(1);
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.07);
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  }
}
