// COLORS
$color-primary: rgb(46, 38, 38);
$color-primary-light: rgb(68, 65, 65);;
$color-primary-dark: rgb(22, 8, 8);
$color-primary-secondary:  rgb(238, 116, 94);
$color-black: rgb(10, 8, 8);
$color-white: #faf9f9;
$color-grey-light: rgb(245, 240, 240);
$color-grey-light-1: rgb(206, 201, 201);
$color-grey-light-2: #eae5de;
$color-grey-light-3: #ece2d4;
$color-grey-dark: rgb(95, 92, 92);


// padding - 1rem 2rem

//utils

$border-radius-small: 2px;
$border-radius-big: 100px;
$box-shadow-big: 1rem 3rem 3rem rgba(0, 0, 0, 0.8);
$box-shadow-medium: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.4);
$box-shadow-small: 0 1rem 2rem rgba(0,0,0, .2);
$box-shadow-tiny: 0 .3rem 0.7rem rgba(0,0,0, .4);