.cocktail__details {
  background-color: $color-grey-light-2;
  // flex: 0 50%;

  // test
  flex: 1 0;
  //width: 0;
  // opacity: 0;
  // visibility: hidden;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  &-figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    &-image {
      display: block;
      max-width: 40rem;
      max-height: 40rem;
      width: auto;
      height: auto;
      box-shadow: $box-shadow-medium;
      object-fit: cover;
      transform: scale(1.01);
      @include respond(phone) {
        max-width: 30rem;
        max-height: 30rem;
      }
    }
    &-caption {
      // flex: 0 70%;
      width: 90%;
      position: absolute;
      bottom: -3rem;
      text-align: center;
      z-index: 1;
      margin: 0 auto;

      //   transform: skewY(4deg);
    }
    &-name {
      // display: inline-block;
      // width: 75%;
      text-align: center;
      padding: 0 2rem;
      margin: 0 auto;
      box-decoration-break: clone;
      font-size: 3rem;
      text-transform: uppercase;
      color: $color-white;
      background-image: linear-gradient(
        to right,
        $color-primary,
        $color-primary-secondary
      );
      text-align: center;
      letter-spacing: 1.2px;
      box-shadow: $box-shadow-small;
      transition: all 0.2s;
    }
    &-name:hover {
      letter-spacing: 2px;
      box-shadow: $box-shadow-medium;
    }
    &-alcoholic {
      position: absolute;
      top: 1.6rem;
      left: -0.5rem;
      z-index: 3;
      border: none;
      background-image: linear-gradient(
        to left,
        $color-primary,
        $color-primary-secondary
      );
      padding: 0.2rem 1rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-12deg);
      &:hover {
        letter-spacing: 0.4px;
      }
      &-icon {
        fill: $color-white;
      }
      &-text {
        font-size: 2rem;
        color: $color-white;
        font-style: italic;
        padding: 0.2rem 2rem 0.2rem 0;
      }
    }
    &-ingredients {
      margin: 3rem 0 2rem 0;
      background-color: $color-grey-light-3;
    }
    &-ingredients-list {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem 0.5rem;
      padding-bottom: 2rem;
      @include respond(phone){
        width: 100%;
      }
    }
    &-ingredients-item {
      font-size: 1.5rem;
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      font-weight: 600;
      // width: 50%;
      &-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
      &-ingredient {
        cursor: pointer;
      }
      &-ingredient:hover {
        color: lighten($color: $color-primary, $amount: 30%);
      }
    }
    &-directions {
      &-heading {
        // transform: rotate(-3deg);
        padding-bottom: 1rem;
      }
      &-text {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        text-align: center;
      }
    }

    &-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-light-3;
      color: $color-primary-secondary;
      font-size: 1.5rem;
      font-size: 1.2rem;
      padding: 2rem 0;
      
      @include respond(tab-port){
        flex-wrap: wrap;
        padding: 0;
      }
      &-envelope {
        margin-right: .5rem;
        @include respond(tab-port){
       
        }
      }
      &-icon {
        fill: $color-primary;
        transition: all 0.5s;
      }
      &-serve {
        flex: 0 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        @include respond(tab-port){
          flex: 0 100%;
          // flex: 1;
        }
        .icon-serve{
          margin-right: .5rem;
        }
        .icon-serve:hover {
          transform: translateX(5px);
        }
      }
      &-email {
        flex: 0 60%;
        display: flex;
        align-items: center;
        padding: 1rem 0.7rem;
        justify-content: center;
        position: relative;
        @include respond(tab-port){
          justify-content: center;
          flex: 0 100%;
          // padding-left: 2rem;
        }
     
      }
      &-envelope {
        flex: 0 10%;
        .icon-email:hover {
          outline: none;
          animation: pulsate 1s infinite;
        }
      }
      &-form-checkbox {
        flex: 0 9rem;
        @include respond(tab-port){
          flex: 0 9rem;
         width: 15rem;
         justify-content: center;
        }
      }
      &-form-label {
        // opacity: 1;
        display: inline-block;
        transform: translateX();
        transition: all 0.9s;
        margin-left: 1rem;
      }
      .label-hide {
        transform: translateX(20rem);
        opacity: 0;
        visibility: hidden;
      }
      &-form-email {
        flex: 0 60%;
        // width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-15rem);
        opacity: 0;
        visibility: hidden;
        position: relative;
        transition: all 1.1s; // transform .8s, opacity 1.5s;
        &-input {
          // flex: 0 5rem;
          // margin: 0 auto;
          width: 60%;
          border-radius: 100px;
          border: 1px solid $color-grey-light-1;
          height: 3rem;
          padding: 1rem 1.5rem;
          font-family: inherit;
          font-size: 1rem;
          // transition: all 0.3s;
        }
        &-input:focus {
          outline: none;
          box-shadow: inset 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.4);
        }
        &-error {
          position: absolute;
          top: 4.5rem;
          left: 6rem;
          font-size: 1rem;
          font-style: italic;
          color: darken($color-primary-secondary, 15);
        }
        &-submit,
        &-submit:focus {
          // flex: 0 10%;
          background-color: transparent;
          border: none;
          padding: 1rem;
          cursor: pointer;
          font-family: inherit;
          color: inherit;
          font-size: inherit;
          transition: all 0.5s;
          outline: none;
          position: relative;
        }
        &-submit:active {
          transform: translateY(2px);
        }
        &-submit:after {
          position: absolute;
          top: 3.5rem;
          left: 1.5rem;
          content: "";
          height: 2px;
          background-image: linear-gradient(
            to left,
            $color-primary,
            $color-primary-secondary
          );
          width: 70%;
          visibility: hidden;
          transform: scaleX(0);
          transition: 0.5s linear;

          // transition: all .5s;
        }
        &-submit:hover {
          animation: text-pulsate 1s infinite;
        }
        &-submit:hover:after {
          visibility: visible;
          transform: scaleX(1);
        }
      }

      .email-show {
        // position: static;
        // left: 8rem;
        // flex: 0 70%;
        transform: translateX(-7rem);
        opacity: 1;
        visibility: visible;
        // font-size: 1.2rem;
        // transition: transform 1s, opacity .5s;
      }
    }
  }
}
