.fave-cocktails {
  background-color: $color-grey-light-3;
  width: 100%;
  &-list {
    list-style: none;
    &-item {
      border-bottom: 1px solid #000;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-figure{

      }
      &-image{
        width: 7rem;
      }
    }
  }
}
