.icon {
  // margin: 1rem;
  width: 3rem;
  height: 3rem;
  fill: $color-white;
}

.icon-facebook {
  margin-right: 1rem;
}

.icon-instagram {
  margin-right: 1rem;
}

.icon-twitter {
  margin-right: 1rem;
}

.icon-options {
  // margin: 0;
  width: 2rem;
  height: 2rem;
  background-color: $color-primary;
  @include respond(phone) {
    background-color: inherit;
    fill: $color-primary-light;
  }
}

.icon-drink,
.icon-drink1 {
  fill: inherit;
}

.icon-next,
.icon-prev {
  width: 2rem;
  height: 2rem;
  fill: $color-white;
}

.icon-heart {
  transition: all 0.4s;
  cursor: pointer;
}

// .icon-heart:hover{
//   width: 3.5rem;
//   height: 3.5rem;
// }

.icon-heart:hover{
  outline: none;
  animation: pulsate 1s infinite;
}

.icon-heart:active {
  transform: translateY(2px);
}
.icon-heart-full {
  fill: url(#heart-full-gradient);
}

// .icon-heart-empty {
//   fill: url(#heart-empty-gradient);
// }



.from-white {
  stop-color:$color-white;
}

.to-grey{
  stop-color:$color-grey-dark;
}

// full heart (liked)
.from-light {
  stop-color: $color-primary-secondary;
}
.to-dark {
  stop-color: $color-primary;
}
