.new__post {
  background-image: linear-gradient(
    to left,
    $color-primary,
    $color-primary-secondary
  );
  width: 100%;

  &-form {
    width: 60%;
    margin: 2rem auto;
    background-color: $color-grey-light-3;
    @include respond(tab-land) {
      width: 70%;
    }
    @include respond(tab-port) {
      width: 90%;
    }
    &-field {
      padding: 2rem 2rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $color-grey-light-1;
      &-title {
        &-label {
          @include flex-child(25%, 1.5rem);
          padding-right: 2rem;
        }
        &-div {
          position: relative;

          &-label {
            position: absolute;
            //   z-index: -1;
            top: 10px;
            left: 8px;
            font-size: 17px;
            color: #b8b8b8;
          }

          &-input {
            height: 3rem;
            border-radius: $border-radius-small;
            outline: none;
            border: none;
            padding: 1rem 2rem;
            // text-align: left;
            transition: all 0.3s;
            &:focus {
              background-color: $color-grey-light;
            }
          }
          &-error {
            position: absolute;
            color: $color-primary-secondary;
            top: 3.5rem;
            left: 1rem;
          }
        }
      }
      &-image {
        &-label {
          @include flex-child(25%, 1.5rem);
          padding-right: 2rem;
        }
        &-div {
          display: flex;
          flex-direction: column;
          flex: 0 75%;
          //   align-items: flex-start;
          //   justify-content: flex-start;
          //   width: 100%;

          &-button {
            position: relative;
            height: 3.5rem;
            &-input {
              position: absolute;
              //   z-index: -1;
              top: 0.5rem;
              left: 4.4rem;
              font-size: 1.5rem;
              color: darken($color-grey-light-1, 30);
              max-width: 24rem;
              @include respond(tab-port) {
                left: 4rem;
              }
            }
            &-input:active,
            &-input:focus {
              outline: none;
            }
            &-label {
              position: absolute;
              height: 3.5rem;
              top: 0rem;
              left: 0;
              display: inline-block;
              background: $color-grey-light-2;
              border-radius: 5px;
              border: 1px solid $color-grey-light-1;
              color: inherit;
              text-align: center;
              font-size: 1.1rem;
              padding: 0.8rem;
              width: 14rem;
              transition: all 0.5s;
              cursor: pointer;
              // margin: 5px;
              z-index: 10;
            }
          }
          &-preview {
            //   height: 5rem;
            display: flex;

            &-img {
              width: 10rem;
              margin: 1rem 2rem;
            }
            &-cancel {
              align-self: center;
            }
          }
        }
      }
      &-body {
        &-label {
          @include flex-child(25%, 1.5rem);
          padding-right: 2rem;
        }
        &-div {
          flex: 0 1 75%;
          &-input,
          &-input:focus {
            // flex: 0 1 70%;
            width: 90%;
            max-height: 50rem;
            padding: 1rem;
            height: 10rem;
            border: 1px solid $color-grey-light-1;
            outline: $color-grey-light-1 solid 2px;
            font-family: inherit;
            font-size: 1rem;
          }

        
          &-error {
            color: $color-primary-secondary;
            padding: 0.5rem 2rem;
          }
          &-error &-input{
            border: 2px solid $color-primary-secondary;
          }
        }
      }
      &-buttons {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem;
        flex-wrap: wrap;
        // &-btn {
        //   margin: 0 auto;
        // }
      }
    }
  }
}

// input[type="file"] {
//     position: absolute;
//     z-index: -1;
//     top: 15px;
//     left: 20px;
//     font-size: 17px;
//     color: #b8b8b8;
//   }
//   .button-wrap {
//     position: relative;
//   }
//   .button {
//     display: inline-block;
//     background-color: #1d6355;
//     border-radius: 10px;
//     border: 4px double #cccccc;
//     color: #ffffff;
//     text-align: center;
//     font-size: 20px;
//     padding: 8px;
//     width: 100px;
//     transition: all 0.5s;
//     cursor: pointer;
//     margin: 5px;
//   }
//   .button:hover {
//     background-color: #00ab97;
//   }
