.search-form {
  flex: 0 0 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  @include respond(smallPhone){
    flex: 0 0 100%;
    //background-color: blue;
  }
  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    flex: 0 0 85%;
    border-radius: 100px;
    background-color: $color-grey-light;
    padding: 1rem 2rem;
    transition: all 0.3s;
    margin-right: -3rem;
    // overflow: hidden;
    border: none;

    @include respond(phone) {
      padding: 0.7rem 2rem;
      box-shadow: none;
      text-align: center;
    }
    @include respond(smallPhone) {
      flex: 0 0 95%; // TODO - need to adjust for galaxy-fod
      //background-color: purple;
    }
    &:focus {
      outline: none;
      // flex: 0 0 90%;
      background-color: $color-white;
    }

    &::-webkit-input-placeholder {
      // font-weight: 100;
      font-size: 1.3rem;
      color: $color-primary-light;
    }
  }
  &__button {
    border: none;
    height: 100%;
    background-color: $color-grey-light;

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__input:focus + &__button {
    background-color: $color-white;
  }
  &__input:focus::-webkit-input-placeholder {
    font-size: 1.2rem;
    opacity: 0.8;
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    fill: inherit;
  }
}

// .search-form__input:focus div[class$="box-body-suggestions"] {
//   flex: 0 0 90;
//   background-color: orangered;
// }


// .search-form:focus-within ~ div.header-search-2{
//   background-color: red;
// }